{% extends "../includes/layout.twig" %}

{% block title %}animation-refraction-waves{% endblock %} 
{% block meta_description %}ThreeJS demo{% endblock %} 

{% block body_class %}fullscreen{% endblock %}

{% block main %}
    <div class="js-animation"></div>
{% endblock %}